body {
    background-color: #f9f2ed;
}

* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    user-select: none;
}
.container h1 {
    text-align: center;
}
.App {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    width: 700px;
    margin: 100px auto;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
}

.block input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 3rem;
    font-weight: bold;
    padding: 20px 20px;
    letter-spacing: 1.3px;
    outline: none;
    margin-top: 20px;
    border-radius: 10px;
    width: 100%;
}

.currencies {
    flex-direction: column;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.selected-currency {
    padding: 20px 20px;
}

.currencies li {
    border: none;
    list-style: none;
    padding: 10px 0;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
}

.currencies li:last-of-type {
    border-bottom: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 100px;
    height: 200px;
    overflow-y: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 0 5px;
    text-align: center;
}

.dropdown-content.show {
    display: block;
}
